@font-face {
  font-family: "iconfont"; /* Project id 2785118 */
  src: url('iconfont.woff2?t=1630908182110') format('woff2'),
       url('iconfont.woff?t=1630908182110') format('woff'),
       url('iconfont.ttf?t=1630908182110') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_4:before {
  content: "\e8ac";
}

.icon-icon_6:before {
  content: "\e8ad";
}

.icon-icon_3:before {
  content: "\e8ae";
}

.icon-bofang:before {
  content: "\e60c";
}

.icon-cha:before {
  content: "\e60d";
}

.icon-gouwudai:before {
  content: "\e60e";
}

.icon-gouwuche:before {
  content: "\e60f";
}

.icon-jinbi:before {
  content: "\e610";
}

.icon-kaixin:before {
  content: "\e611";
}

.icon-shouye:before {
  content: "\e612";
}

.icon-cuowu:before {
  content: "\e613";
}

.icon-zhengque:before {
  content: "\e614";
}

.icon-youfan:before {
  content: "\e615";
}

.icon-shaixuan:before {
  content: "\e616";
}

.icon-shoucang1:before {
  content: "\e617";
}

.icon-zuofan:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-shoucang:before {
  content: "\e61a";
}

.icon-anquan:before {
  content: "\e61b";
}

.icon-gengduo2:before {
  content: "\e61c";
}

.icon-gengduo:before {
  content: "\e61d";
}

.icon-jiazaizhong:before {
  content: "\e61e";
}

.icon-shangchuan:before {
  content: "\e61f";
}

.icon-shuju:before {
  content: "\e620";
}

.icon-shouji:before {
  content: "\e621";
}

.icon-shuaxin2:before {
  content: "\e622";
}

.icon-xiazai3:before {
  content: "\e624";
}

.icon-zuofan2:before {
  content: "\e626";
}

.icon-youfan2:before {
  content: "\e627";
}

.icon-yincang:before {
  content: "\e628";
}

